'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'npm init'
      'submenu': [
        {
          'label': 'Empty'
          'command': 'npm-init:empty'
        }
      ]
    ]
  }
]
